.container{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}

.card{
  vertical-align: middle;
  max-width: 600px;
  max-height: 500px;
  /* margin: 0 auto; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 10px 10px 10px;
  text-align:center;
  box-shadow: 2px 5px 9px #888888;
  border-radius: 15px;
  transition: 0.5s;
}

.card:hover{
  border-radius: 15px;
  box-shadow: 5px 10px 20px #888888;
  transform: scale(1.10) translateZ(0);
  transition: 0.5s;
}

.card img{
  border: 1px solid #d2d2d2;
  border-radius: 4%;
}
.card:hover img{
  transform: scale(1) translateZ(0);
  transition: 0.5s;
}

.video{
  vertical-align: middle;
  max-width: 560px;
  max-height: 400px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 10px 10px 10px;
  text-align:center;
  box-shadow: 2px 5px 9px #888888;
  border-radius: 15px;
}

.video #video-title{
  color: #333;
  transition: 0.5s;
}

.video #video-title:hover{
  color: #1e40ff;
  transform: scale(1.10) translateZ(0);
  transition: 0.5s;
}
