body[data-theme="light"] #check {
  width: 12%;
  color: white;
  background-color: #f6a623;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #e1882d;
  border-radius: 24px;
  box-shadow: 3px 3px 9px #888888;
  transition: 0.5s;
}

body[data-theme="light"] #check:active {
  box-shadow: 2px 2px 7px #888888;
  font-size: 15px;
  transform: scale(0.9) translateZ(0);
  transition: 0.5s;
}

body[data-theme="dark"] #check {
  width: 12%;
  color: white;
  background-color: #f6a623;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #e1882d;
  border-radius: 24px;
  box-shadow: 3px 3px 9px #0c0c0c;
  transition: 0.5s;
}

body[data-theme="dark"] #check:active {
  box-shadow: 2px 2px 7px #0c0c0c;
  font-size: 15px;
  transform: scale(0.9) translateZ(0);
  transition: 0.5s;
}

#check, select {
  outline: none;
}

.card {
  background-color: #1abc9c;
  color: white;
  vertical-align: middle;
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 5px;
  text-align: center;
  box-shadow: 2px 5px 9px #888888;
  border-radius: 15px;
  transition: 0.5s;
}

body[data-theme="light"] .inputbox {
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  width: 70%;
  padding: 14px 14px 14px 14px;
  box-sizing: border-box;
  border: 5px solid #12976c;
  border-radius: 25px;
}


body[data-theme="light"] .inputbox, select {
  color: #1e1e1e;
  outline: none;
}

body[data-theme="light"] .contentbox {
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  width: 70%;
  padding: 24px 14px 24px 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 5px solid #12976c;
  border-radius: 25px;
}

body[data-theme="light"] .contentbox, select {
  color: #1e1e1e;
  outline: none;
}

body[data-theme="dark"] .inputbox {
  background-color: #1e1e1e;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  width: 70%;
  padding: 14px 14px 14px 14px;
  box-sizing: border-box;
  border: 5px solid #12976c;
  border-radius: 25px;
}

body[data-theme="dark"] .inputbox, select {
  color: white;
  outline: none;
}

body[data-theme="dark"] .contentbox {
  background-color: #1e1e1e;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  width: 70%;
  padding: 24px 14px 24px 14px;
  word-wrap: break-word;
  box-sizing: border-box;
  border: 5px solid #12976c;
  border-radius: 25px;
}

body[data-theme="dark"] .contentbox, select {
  color: white;
  outline: none;
}

.checkbox {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid #e1882d;
  color: white;
  margin: 10px;
  background-color: #f6a623;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.about-author h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 30px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #828483;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#snackbar, #snackbar2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  text-align: center;
  border-radius: 15px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show, #snackbar2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}
