@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.fa {
  background: white;
  color: black;
  padding: 3px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
}

.fa:hover {
  opacity: 0.7;
}

a[href="#"] {
  background: #2f2f2f;
  color: white;
  font-size: 15px;
}

body[data-theme="light"] {
  background-color: white;
  color: #555;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body[data-theme="dark"]  {
  background-color: #1e1e1e;
  color: #eaeaea;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body[data-theme="light"] #header {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
}

body[data-theme="light"] #header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body[data-theme="light"] #header a:hover {
  color: #3333;
}

body[data-theme="dark"]  #header {
  background-color: #151515;
  height: 150px;
  line-height: 150px;
}

body[data-theme="dark"]  #header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body[data-theme="dark"]  #header a:hover {
  color: #f6a623;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

#header-title {
  display: block;
  float: left;
}

#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

body[data-theme="light"] #logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: 42px;
  margin-right: 15px;
  float: left;
  background-color: #1abc9c;
  border-radius: 20%;
  transition: 0.5s;
}

body[data-theme="light"] #logo:hover {
  background-color: #12c9a5;
  box-shadow: 2px 5px 8px #2c9582;
  transition: 0.5s;
}

body[data-theme="dark"]  #logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-top: 42px;
  margin-right: 15px;
  float: left;
  background-color: #151515;
  border-radius: 20%;
  transition: 0.5s;
}

body[data-theme="dark"]  #logo:hover {
  background-color: #111111;
  box-shadow: 2px 5px 8px #1a1a1a;
  transition: 0.5s;
}

.post {
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  border-radius: 15px;
  transition: 0.5s;
}

body[data-theme="light"] .post:hover {
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  transform: scale(1.02) translateZ(0);
  box-shadow: 2px 5px 12px #aaa;
  border-radius: 15px;
  transition: 0.5s;
}

body[data-theme="dark"]  .post:hover {
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  transform: scale(1.02) translateZ(0);
  box-shadow: 2px 5px 12px #1a1a1a;
  border-radius: 15px;
  transition: 0.5s;
}


body[data-theme="light"] pre {
  font-family: 'Montserrat', sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

body[data-theme="dark"]  pre {
  font-family: 'Montserrat', sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 18px;
  font-weight: bold;
  color: #f3f3f6;
}

#hide {
  border: none;
  color: #555555;
  padding: 0 1px 0 1px;
  font-weight: bold;
  background-color: inherit;
  padding: 0;
  font-size: 19px;
  cursor: pointer;
  display: inline-block;
}

#hide, select {
  outline: none;
}

.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.habbits {
  text-align: left;
}

body[data-theme="light"] .things {
  color: #0a987c;
}

body[data-theme="light"] .post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid #46f1a2;
}

body[data-theme="dark"] .things {
  color: #f9a55d;
}

body[data-theme="dark"] .post-author img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid #444444;
}

.post-container {
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
}

body[data-theme="light"] .post-container:nth-child(even) {
  background-color: #f2f2f2;
}

body[data-theme="light"] .about-author img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  border-radius: 50%;
  border: 8px solid #25c58a;
}

body[data-theme="light"] .about-author span {
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}

body[data-theme="dark"] .post-container:nth-child(even) {
  background-color: #252525;
}

body[data-theme="dark"] .about-author img {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  border-radius: 50%;
  border: 8px solid #292929;
}

body[data-theme="dark"] .about-author span {
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: #d9d9d9;
  vertical-align: middle;
}

.error-author img {
  width: 80%;
  height: 80%;
  vertical-align: middle;
}

body[data-theme="light"] .error-author span {
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}

body[data-theme="dark"] .error-author span {
  width: 200px;
  height: 200px;
  font-weight: bold;
  color: #8da1fc;
  vertical-align: middle;
}

.post-author span {
  color: #1abc9c;
  margin-left: 16px;
}

.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

body[data-theme="light"] h1{
  color: #333;
}

body[data-theme="light"] h2{
  color: #333;
}

body[data-theme="light"] h3{
  color: #333;
}

body[data-theme="light"] h4{
  color: #333;
}

body[data-theme="dark"] h1{
  color: #fff;
}

body[data-theme="dark"] h2{
  color: #fff;
}

body[data-theme="dark"] h3{
  color: #fff;
}

body[data-theme="dark"] h4{
  color: #fff;
}

p {
  line-height: 1.5;
}

#footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p {
  color: white;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

.column #quoteline {
  color: #1abc9c;
}

a:hover {
  color: #F6A623;
}

#icons {
  background-color: inherit;
  padding: 3px;
  font-size: 25px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 5px;
  vertical-align: top;
}

#icons:hover {
  color: black;
}

.inputbox {
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
  color: inherit;
  width: 40%;
  padding: 14px 14px 14px 14px;
  box-sizing: border-box;
  border: 5px solid #12976c;
  border-radius: 25px;
}

.inputbox, select {
  outline: none;
}

.upload, .edit {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.plate {
  min-width: 150px;
  min-height: 180px;
}

.plate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 0);
  transform-origin: top left;
  background: #ff22dd;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: inherit;
  z-index: -1;
  transition: 0.5s;
}

.plate:hover::after {
  transform: scale(1, 1);
  color: deepskyblue;
  transition: 0.8s;
}

.plate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0, 0);
  transform-origin: top left;
  background: #9725e2;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: 35%;
  border-bottom-left-radius: inherit;
  z-index: -1;
  transition: 0.5s ease;
}

.plate:hover::before {
  transform: scale(1, 1);
  color: deepskyblue;
}

.plate:hover h3 {
  color: white;
}

body[data-theme="light"] .pager {
  width: 10%;
  color: white;
  margin: 40px;
  background-color: #20c998;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #0fbc92;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #888888;
  transition: 0.5s;
}

body[data-theme="dark"] .pager {
  width: 10%;
  color: white;
  margin: 40px;
  background-color: #252525;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid #373131;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #454444;
  transition: 0.5s;
}

.pager:active {
  box-shadow: 2px 2px 7px #888888;
  font-size: 15px;
  transform: scale(0.9) translateZ(0);
  transition: 0.5s;
}

.pager:hover {
  color: white;
}

.pager, select {
  outline: none;
}

.buttons {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}
