{%extends 'base.html' %}
{%block body%}
<div id="content">
  <div class="container">
    <div class="about">
      <div class="error-author">
        <a href="https://www.freepik.com/free-vector/error-404-concept-landing-page_5135455.htm#page=1&query=404%20page&position=24" target="_blank"><img src="{{ url_for('static',filename='img/error.jpg')}}"></a>
        <br><br>
        <span>ERROR 404: PAGE NOT FOUND</span>
      </div>
      <div class="about-content">
        <p>Look like you lost in the void.</p>
        <p><a href="/">Go back to home</a></p>
      </div>
    </div>
      </div>
    </div>
{%endblock%}
