{%extends 'base.html' %}
{%block body%}
<div id="content">
  <div class="container">
    <div class="about">
      <div class="about-author">
        <img src="{{ url_for('static',filename='img/prof.jpg')}}">
        <br><br>
        <span>About Me</span>
      </div>
      <div class="about-content">
        <div class="habbits">
          <p>Hi there! I'm an aspiring programmer (or atleast what i think so).</p>
          <p>The few things that i like</p>
          <div class="things">
            <ul>
              <li> <p>Competitive programming</p> </li>
              <li> <p>Game development and 3D graphic designing</p> </li>
              <li> <p>Linear algebra and Calculus</p> </li>
              <li> <p>Poetry and Literature</p> </li>
            </ul>
          </div>
        </div>
        <br>
        <p>If you like my Blog, you can follow me on <a href="https://github.com/blueedgetechno" target="_blank">github</a></p>
      </div>
    </div>
    </div>
  </div>

{%endblock%}
