<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">
<head>
  <script type="text/javascript" src="{{ url_for('static',filename='js/quote.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='js/clocktime.js')}}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/slider.css')}}">
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='img/favicons.png')}}">
  <meta charset="utf-8">
  <title>Blue's Blog</title>
  {% if theme=='light' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css')}}">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/darkstyles.css')}}">
  {% endif %}
</head>

<body>
  <div id="header">
    <div class="container">
      <a id="header-title" href="/"><img id="logo" src="{{ url_for('static',filename='img/logo.png')}}">My Blog</a>
      <ul id="header-nav" class="menu">
        <li><a href="/play">Play</a></li>
        <li><a href="/video">Videos</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/admin">Admin</a>
        <li><a href="#footer">Contact</a></li>
        {% if theme=='dark' %}
          <i class="fa fa-moon-o" id="theme" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-sun-o" id="theme" aria-hidden="true"></i>
        {% endif %}
        <div class="on-off-toggle">
          <input class="on-off-toggle__input" type="checkbox" onchange="window.location.href = '/changetheme'" id="bopis" />
          <label for="bopis" class="on-off-toggle__slider"></label>
        </div>
        {% if theme=='dark' %}
          <script type="text/javascript">
            document.getElementById('bopis').checked = true;
          </script>
        {% endif %}

      </ul>

    </div>
  </div>

  {%block body%}{%endblock%}

  <div id="footer">
    <div class="container">
      <div class="column">
        <h4>Virtual existence</h4>
        <p>
          <a href="https://github.com/blueedgetechno" target="_blank" class="fa fa-github"></a>
          <a href="https://github.com/blueedgetechno" target="_blank">github</a><br>
          <a href="https://codeforces.com/profile/blue_edge" target="_blank" class="fa fa-code"></a>
          <a href="https://codeforces.com/profile/blue_edge" target="_blank">codeforces</a><br>
          <a href="https://www.youtube.com/channel/UCozhS3MxzCGrPTffh0mqArw" target="_blank" class="fa fa-youtube"></a>
          <a href="https://www.youtube.com/channel/UCozhS3MxzCGrPTffh0mqArw" target="_blank">youtube</a><br>
          <a href="mailto:blueedgetechno@gmail.com" target="_blank" class="fa fa-envelope"></a>
          <a href="mailto:blueedgetechno@gmail.com">Email me</a><br>
        </p>
      </div>
      <div class="column">
        <h4 style="font-size:17px;color:#f6a623;">Blue Edge : Create some chaos</h4>
        <h5 id="time" style="color:white;margin-top:0px"></h5>
        <p id="quoteline"></p>
        <a href="#" style="float:left" class="fa fa-copyright"></a>
        <a href="#">2020 blue_edge </a>
      </div>
    </div>
    <script> </script>
  </div>
</body>

</html>
