{%extends 'base.html' %}
{%block body%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/post.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/card.css')}}">
<div id="content">
  <div class="video">
    <iframe width="560" height="315" src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <a href="https://www.youtube.com/channel/UCozhS3MxzCGrPTffh0mqArw/videos" target="_blank">
      <h2 id="video-title" title="Watch on youtube :)">{{video.title}}</h2>
    </a>
  </div>
  <form class="about" action="/deletevideo/{{video.id}}" method="post">
    <br><br>
    <label style="font-weight:bold">Password</label>
    <br><br>
    <input required type="password" name="password" class="inputbox" value="" placeholder="password">
    <br><br>
    <button type="submit" id="check">Delete</button>
    <div id="snackbar" style="background-color: #ed2727;color: white;">Sorry! The password is not right</div>
    <script type="text/javascript">
      function fail(){
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
      }
      if({{res}}){
        window.onload = fail
      }
    </script>
  </form>
</div>
  {%endblock%}
