{%extends 'base.html' %}
{%block body%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/post.css')}}">
<div id="content">
  <div class="container">
    {% set fname = 'img/post/'+post.image %}
    <form class="about" action="/edit/{{post.id}}" method="post">
      <div class="about-author">
        <img style="border-color:#babbc3" src="{{ url_for('static',filename=fname)}}">
        <br><br>
        <span>Hello Blue</span><br><br><br>
      </div>
      <label>Title</label>
      <br><br>
      <input required type="text" name="title" class="inputbox" value="{{post.title}}" placeholder="Title of the post">
      <br><br>
      <label>Content</label>
      <br><br>
      <textarea required name="content" rows="10" cols="80" class="contentbox" placeholder="Content of the post"></textarea>
      <script type="text/javascript">
        document.getElementsByClassName('contentbox')[0].innerHTML = {{post.content|tojson}}
      </script>
      <br><br>
      <label>Password</label>
      <br><br>
      <input required type="password" name="password" class="inputbox" value="" placeholder="password">
      <br><br>
      <button type="submit" id="check">Post</button>
      <div id="snackbar" style="background-color: #ed2727;color: white;">Sorry! The password is not right</div>
      <script type="text/javascript">
        function fail(){
          var x = document.getElementById("snackbar");
          x.className = "show";
          setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
        if({{res}}){
          window.onload = fail
        }
      </script>
    </form>
  </div>
</div>
{%endblock%}
