{%extends 'base.html' %}
{%block body%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/card.css')}}">
<div id="content">
  <div class="video">
    <a href="/projects/digit" class="projectlink">
      <img src="{{ url_for('static',filename='img/projects/digit.png')}}"><br>
      <h3 id="video-title">Machine learning for hand written digit recognition</h3>
    </a>
  </div>
</div>

<div id="content">
  <div class="video">
    <a href="/projects/times" class="projectlink">
      <img src="{{ url_for('static',filename='img/projects/times.png')}}"><br>
      <h3 id="video-title">Beautiful representation of Multiplication Circle</h3>
    </a>
  </div>
</div>

{%endblock%}
